body {
    margin: 0;
    padding: 0;
}

.vspacer {
    width: 100%;
    height: 30px;
}

.smrecipe {
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 18px;
    margin: 0 0 8px;
    padding: 20px 0;
}
.smrecipe:hover {
    background: #fcfcfc;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}