
<div class="container">
    <h2>{{ data.title }}</h2>
    <div class="row">
        <div class="col-md-4"><h4>Prep Time</h4></div>
        <div class="col-md-4"><h4>Cook Time</h4></div>
        <div class="col-md-4"><h4>Serves</h4></div>
    </div>
    <div class="row">
        <div class="col-md-4">{{ data.prepTime }} mins</div>
        <div class="col-md-4">{{ data.cookTime }} mins</div>
        <div class="col-md-4">{{ data.serves }}</div>
    </div>
    <div class="vspacer"></div>
    
    <div class="row">
        <div class="col-md-12">
            <h4>Category:</h4>
            <ul class="list-inline">
                <li ng-repeat="cat in data.categories">{{ cat }}</li>
            </ul>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-6">
            <h3>Ingredients</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="dd in data.ingredients">{{ dd }}</li>                
            </ul>
        </div>
        <div class="col-md-6"><img ng-src="{{ data.imagePath }}" class="img-thumbnail"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Directions</h3>
            <p>{{ data.directions }}</p>            
        </div>  
    </div>
    <div class="vspacer"></div>
</div>